@import url('https://fonts.googleapis.com/css?family=Offside|Questrial|Righteous|Text+Me+One');

$logo-font: 'Offside', cursive;
$main-font: 'Questrial', sans-serif;
$text-me: 'Text Me One', sans-serif;

// Color

$main-color: #181366;
$card_bg: #4e95d2;

// Mixin

@mixin title-font() {
  background: -webkit-linear-gradient(#4e95d2, #050030);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: $text-me;
  font-size: 3rem;
}
//==========================================


#nav_bar_2 {
  height: 80px;
  background-color: #fafafa;
  box-shadow: 0px 8px 11px 0px rgba(38, 16, 58, 0.14);
  //position: fixed;
  //top: 0;
  #logo_container_2 {
    a {
      @include title-font();
      text-align: center;
      margin: auto;
      font-size: 1.8rem;
      position: relative;
      font-family: $logo-font;
      p {
        //vertical-align: middle;
        display: inline;
        span {
          font-weight: 900;
        }
      }
      img {
        height: 50px;
        //margin-top: 15px;
        margin-left: 10px;
        margin-right: 10px;
        vertical-align: middle;
      }
    }
  }
}

