// NAVBAR
// NAVBAR

.container {
  width: 90%;
}
#nav_bar {


  #logo-container {

    font-size: 1.3rem;

  }
}


// INDEX SECTION
#index-banner {
  .main_logo {
    font-size: 1rem;
  }
}

// Altele
.title_border {
  width: 15%;
}