/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
@import url("https://fonts.googleapis.com/css?family=Offside|Questrial|Righteous|Text+Me+One|Gruppo|Poiret+One");
body {
  font-family: "Questrial", sans-serif;
  font-size: 16px; }

.main_section {
  background-color: #fafafa;
  z-index: 50; }

.self_valign {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.sticky {
  background-color: #fafafa;
  color: #181366; }

.sticky_items {
  color: #204259 !important; }

#nav_bar {
  position: absolute;
  z-index: 100;
  top: 20px; }
  #nav_bar #logo-container {
    color: white;
    font-size: 1.1rem;
    font-family: "Offside", cursive; }
    #nav_bar #logo-container span {
      font-weight: 900; }
    #nav_bar #logo-container .main_logo {
      height: 40px;
      vertical-align: middle; }
  #nav_bar a.button_collapse {
    margin-right: 0;
    float: right; }
  #nav_bar ul a {
    color: white;
    font-size: 1.1em; }

.fix_the_body {
  overflow: hidden;
  width: 100%; }

.side_overlay {
  width: 100%;
  height: 100vh;
  opacity: 1;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  background-color: rgba(13, 43, 61, 0.94);
  z-index: 10;
  transition-duration: 1s; }

#nav_mobile {
  width: 70%;
  height: 305px;
  display: none;
  position: relative;
  margin-top: calc((100vh - 360px) / 2);
  margin-left: auto;
  margin-right: auto; }

#nav_mobile li {
  width: 100%; }

.side_nav li a {
  color: white !important;
  height: 3.5rem;
  margin-bottom: 5px;
  padding: 0;
  border: 1px solid white;
  border-radius: 20px; }

.side_menu_btn {
  position: fixed; }

.enter_side_nav {
  transform: translateX(0px);
  left: calc((100% - 250px) / 2); }

#index-banner {
  top: 0;
  left: 0;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(52, 96, 135, 0.8));
  width: 100%; }
  #index-banner #video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100vh;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%); }
  #index-banner h1 {
    width: 80%;
    margin: 0;
    font-size: 2.8rem;
    color: ghostwhite;
    letter-spacing: .1rem;
    background: -webkit-linear-gradient(#3beeec, #d4d2ce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    height: auto; }
  #index-banner .typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

p {
  line-height: 2rem; }

#parallax_section {
  line-height: 0;
  height: 40vh;
  position: relative;
  /* The image used */
  background-image: url("../img/super123/super-123-big.jpg");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.icon-block {
  padding: 0 15px; }

.icon-block .material-icons {
  font-size: inherit; }

footer.page-footer {
  margin: 0; }

#card_section .card_section_title {
  text-align: center;
  margin-bottom: 50px; }
  #card_section .card_section_title .title_border {
    width: 20%; }
  #card_section .card_section_title h2 {
    background: -webkit-linear-gradient(#00a0d0, #002d5c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Poiret One", cursive;
    font-size: 3rem;
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 0; }

#card_section #cards .self_card {
  margin-top: 20px;
  box-shadow: 1px 1px 15px 0px rgba(78, 149, 210, 0.4);
  border-radius: 5px;
  height: 400px;
  margin-bottom: 50px;
  position: relative; }
  #card_section #cards .self_card:hover {
    box-shadow: 1px 1px 10px 0px rgba(38, 16, 58, 0.4); }
  #card_section #cards .self_card .card_header {
    width: 90%;
    box-shadow: 0px 10px 10px 0px rgba(51, 117, 162, 0.51);
    border-radius: 10px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    top: -30px;
    background-color: #1f51a2;
    color: #eefff3; }
    #card_section #cards .self_card .card_header .card_header_content {
      text-align: center;
      font-size: 2rem;
      width: 70%;
      height: 70%;
      font-family: "Text Me One", sans-serif;
      margin: auto;
      position: absolute;
      left: 15%;
      top: 15%; }
      #card_section #cards .self_card .card_header .card_header_content img {
        height: 2.2rem;
        vertical-align: middle; }
  #card_section #cards .self_card .card_content {
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
    #card_section #cards .self_card .card_content p {
      margin: 0;
      word-wrap: break-word;
      color: #1f51a2; }
  #card_section #cards .self_card .card_icons_container {
    margin: 0;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    display: block;
    bottom: 20px;
    left: 5%;
    margin-top: 30px; }
    #card_section #cards .self_card .card_icons_container .col {
      padding: 3px; }
      #card_section #cards .self_card .card_icons_container .col .card_icon {
        background-color: #1f51a2;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.51);
        position: relative;
        margin: auto; }
        #card_section #cards .self_card .card_icons_container .col .card_icon img {
          position: relative;
          height: 35px;
          margin: auto;
          display: block; }
    #card_section #cards .self_card .card_icons_container .icon_description {
      margin-top: 5px;
      margin-bottom: 0;
      font-family: "Questrial", sans-serif;
      font-weight: 900;
      color: #1f51a2;
      background-color: #fafafa;
      box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.51);
      border-radius: 2px;
      text-align: center;
      display: block; }
      #card_section #cards .self_card .card_icons_container .icon_description p {
        margin: 0;
        padding: 0; }

.scroll_section a {
  position: absolute;
  bottom: 0px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s; }

#section07 a {
  padding-top: 80px; }

#section07 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box; }

#section07 a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

#section07 a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s; }

#section07 a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s; }

@-webkit-keyframes sdb07 {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes sdb07 {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.self_overlay {
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(38, 79, 106, 0.8); }
  .self_overlay h5 {
    color: #fafafa;
    font-size: 2.5em;
    z-index: 800; }

#contact_section .contact_container form {
  margin-top: 60px;
  border-top: 4px solid #3152a2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 3px solid #3152a2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 30px;
  margin-bottom: 40px; }
  #contact_section .contact_container form .contact_div_icon {
    height: 70px;
    width: 70px;
    background-color: #3152a2;
    border-radius: 50%;
    position: relative;
    left: calc((100% - 70px) / 2);
    top: -30px;
    border: 3px solid white; }
    #contact_section .contact_container form .contact_div_icon i {
      font-size: 35px;
      margin: auto;
      color: white; }
  #contact_section .contact_container form .feedback_message {
    text-align: center;
    font-size: 1.5em;
    color: #3152a2; }
  #contact_section .contact_container form .form_error {
    margin-left: 3rem;
    color: orangered;
    font-size: .8em;
    position: relative;
    top: -20px; }

#contact_section .contact_container .my_email, #contact_section .contact_container .my_phone {
  text-align: center;
  background-color: #3152a2;
  color: white;
  box-shadow: 1px 1px 10px 0px rgba(78, 149, 210, 0.4);
  border-radius: 10px;
  margin-top: 30px; }
  #contact_section .contact_container .my_email .contact_img, #contact_section .contact_container .my_phone .contact_img {
    position: relative;
    top: -20px;
    height: 70px;
    width: 70px;
    margin: auto;
    border-radius: 50%;
    background-color: #3152a2;
    border: 4px solid white;
    box-shadow: 1px 1px 10px 0px rgba(78, 149, 210, 0.4); }
    #contact_section .contact_container .my_email .contact_img i, #contact_section .contact_container .my_phone .contact_img i {
      font-size: 2rem;
      margin: auto; }
  #contact_section .contact_container .my_email p, #contact_section .contact_container .my_phone p {
    margin: 0;
    font-family: "Offside", cursive;
    font-size: 1.3rem;
    text-align: center;
    padding-bottom: 15px; }

#contact_section .contact_container .my_phone > p {
  font-size: 3rem; }

#contact_section h4 {
  background: -webkit-linear-gradient(#00a0d0, #002d5c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Poiret One", cursive;
  font-size: 3rem;
  font-weight: 700; }

#despre h2 {
  background: -webkit-linear-gradient(#00a0d0, #002d5c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Poiret One", cursive;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 0; }

#despre #btn_to_gallery {
  text-align: center;
  width: 100%; }
  #despre #btn_to_gallery a {
    color: #3152a2;
    margin-top: 10px; }

#despre .rack_image_container {
  width: 100%;
  margin: auto;
  position: relative; }
  #despre .rack_image_container img {
    height: 100%;
    margin: auto;
    width: 100%;
    box-shadow: 1px 1px 10px 0px rgba(95, 188, 210, 0.4);
    border-radius: 10px; }

#despre .description_container {
  margin-top: 30px; }
  #despre .description_container p {
    color: #181366;
    margin-top: 0; }
  #despre .description_container .highlights {
    height: 200px;
    padding: 5px; }
    #despre .description_container .highlights:nth-child(n+4) {
      margin-top: 15px; }
    #despre .description_container .highlights .high_inner img {
      height: 70px;
      margin: auto;
      display: block;
      border-radius: 50%;
      box-shadow: 1px 1px 20px 0px rgba(95, 188, 210, 0.4); }
    #despre .description_container .highlights .high_inner .high_divider {
      border: 1px solid rgba(82, 82, 82, 0.52);
      margin-top: 15px;
      margin-bottom: 5px;
      width: 30%;
      margin-left: auto;
      margin-right: auto; }
    #despre .description_container .highlights .high_inner .high_title {
      text-align: center;
      font-family: "Offside", cursive;
      font-size: 1rem;
      font-weight: 600; }
    #despre .description_container .highlights .high_inner .high_content {
      margin-top: 5px;
      text-align: center;
      font-size: .8em;
      height: 60px;
      overflow: hidden; }
    #despre .description_container .highlights:hover .high_divider {
      width: 70%;
      background-color: #3152a2; }

#despre .afla_mai_multe {
  margin-top: 40px;
  border: 2px solid #3152a2;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.5rem; }
  #despre .afla_mai_multe:hover {
    background-color: #3152a2;
    color: white; }

#despre .despre_icons {
  margin-top: 30px; }
  #despre .despre_icons .fa-photo {
    background-color: white; }
  #despre .despre_icons .despre_i {
    margin-top: 40px;
    background-color: #3152a2;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 0px rgba(95, 188, 210, 0.4); }
    #despre .despre_icons .despre_i:hover {
      box-shadow: 1px 1px 5px 0px rgba(27, 48, 55, 0.4); }
    #despre .despre_icons .despre_i .despre_i_img {
      height: 70px;
      width: 70px;
      margin: auto;
      border-radius: 50%;
      background-color: #3152a2;
      box-shadow: 1px 1px 15px 0px rgba(95, 188, 210, 0.4);
      position: relative;
      top: -25px;
      border: 4px solid white; }
      #despre .despre_icons .despre_i .despre_i_img:hover {
        box-shadow: 1px 1px 5px 0px rgba(27, 48, 55, 0.4); }
      #despre .despre_icons .despre_i .despre_i_img img {
        height: 40px;
        width: 40px;
        margin: auto; }
    #despre .despre_icons .despre_i p {
      font-size: 1.5rem;
      text-align: center;
      margin: 0;
      font-family: "Offside", cursive;
      color: white;
      position: relative;
      top: -15px; }

.title_border {
  background-color: #002d5c;
  height: 3px;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 50px; }

.page-footer {
  background-color: #E0E0E0 !important; }
  .page-footer .container h5 {
    background: -webkit-linear-gradient(#00a0d0, #002d5c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Poiret One", cursive;
    font-size: 3rem;
    font-weight: 700;
    font-size: 2em; }
  .page-footer .container img {
    height: 40px; }
  .page-footer .footer_divider {
    border-top: 1px solid #fafafa; }
  .page-footer .footer-copyright img {
    margin-top: 20px; }
  .page-footer .footer-copyright p:first-of-type {
    margin-top: 0; }
  .page-footer .footer-copyright p {
    color: #888; }
