<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12 center-align despre_noi">
                <h5 class="">Despre Noi</h5>
                <div class="title_border"></div>
                <p class="">We are a team of college students working on this project like it's
                    our full time job. Any amount would help support and continue development on this project and is
                    greatly appreciated.</p>


            </div>

            <div class="col l3 s12 center-align parteneri">
                <h5 class="">Parteneri</h5>
                <div class="title_border"></div>
                <ul>
                    <li><a class="" href="#!"><img src="../img/parteneri/logo_metalsistem.png"> </a></li>
                    <li><a class="" href="#!"><img src="../img/parteneri/logo_desco.png"></a></li>

                </ul>
            </div>

            <div class="social_media col l3 s12 center-align">
                <h5 class="">Social Media</h5>
                <div class="title_border"></div>
                <ul class="row">
                    <li class="col s3"><a class="" href="#!"><img src="../img/social/facebook.svg"> </a></li>
                    <li class="col s3"><a class="" href="#!"><img src="../img/social/google-plus.svg"></a></li>
                    <li class="col s3"><a class="" href="#!"><img src="../img/social/linkedin.svg"></a></li>
                    <li class="col s3"><a class="" href="#!"><img src="../img/social/instagram.svg"></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer_divider container"></div>

    <!-- Footer Copyright -->
    <div class="footer-copyright">
        <div class="container center-align">
            <img src="../img/kode_over.svg">
            <p>Made by Kode Over.</p>
            <p>Copyright &copy; 2017 Gefer MGM Systems SRL, CUI: 14399840, Reg. Com. J40/372/2002</p>
        </div>
    </div>
</footer>