<header class="navbar-fixed">
    <nav class="nav-wrapper valign-wrapper" id="nav_bar_2">
        <div class="container">
            <div id="logo_container_2" class="center ">
                <a href="#" >

                    <img src="img/m_logo.svg" alt="MgM Storage Solutions Logo">
                    <p><span>MGM</span> {{pageName}}</p>

                </a>
            </div>

            <!--<ul id="nav_links" class="right hide-on-med-and-down table-of-contents">-->
            <!--<li><a href="#index-banner">Acasă</a></li>-->
            <!--<li><a href="#despre">Despre</a></li>-->
            <!--<li><a href="#products">Modele</a></li>-->
            <!--<li><a href="#photo-gallery">Galerie Foto</a></li>-->
            <!--<li><a href="#contact_section">Contact</a></li>-->
            <!--</ul>-->

            <!--<a href="#iii" id="side_menu_btn" class="button_collapse"><i id="hamburger_icon"-->
            <!--class="material-icons">menu</i></a>-->

            <!--<ul id="nav_mobile" class="side_nav ">-->
            <!--<li><a class="center-align nav_link" href="#index-banner">Acasă</a></li>-->
            <!--<li><a class="center-align nav_link" href="#despre">Despre</a></li>-->
            <!--<li><a class="center-align nav_link" href="#products">Modele</a></li>-->
            <!--<li><a class="center-align nav_link" href="#photo-gallery">Galerie Foto</a></li>-->
            <!--&lt;!&ndash;<li><a class="center-align nav_link" href="#shop">Shop</a></li>&ndash;&gt;-->
            <!--<li><a class="center-align nav_link" href="#contact_section">Contact</a></li>-->
            <!--</ul>-->

        </div>
    </nav>
</header>
