<header>
    <nav id="nav_bar" class="" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">
                <img class="main_logo" src="img/m_logo_white.svg" alt="MgM Storage Solutions Logo">
                <span>MGM</span> Storage Solutions</a>

            <ul id="nav_links" class="right hide-on-med-and-down table-of-contents">
                <li><a href="#index-banner">Acasă</a></li>
                <li><a href="#despre">Despre</a></li>
                <li><a href="#products">Modele</a></li>
                <li><a href="#photo-gallery">Galerie Foto</a></li>
                <li><a href="#contact_section">Contact</a></li>
            </ul>

            <a href="#iii" id="side_menu_btn" class="button_collapse"><i id="hamburger_icon"
                                                                         class="material-icons">menu</i></a>

            <ul id="nav_mobile" class="side_nav ">
                <li><a class="center-align nav_link" href="#index-banner">Acasă</a></li>
                <li><a class="center-align nav_link" href="#despre">Despre</a></li>
                <li><a class="center-align nav_link" href="#products">Modele</a></li>
                <li><a class="center-align nav_link" href="#photo-gallery">Galerie Foto</a></li>
                <!--<li><a class="center-align nav_link" href="#shop">Shop</a></li>-->
                <li><a class="center-align nav_link" href="#contact_section">Contact</a></li>
            </ul>

        </div>
    </nav>
</header>
