<!-- Main Section -->

<div ng-controller="IndexController">

    <div id="index-banner" class="section scrollspy self_valign">

        <video src="../video/super_123.mp4" id="video" loop muted playsinline class="full_video">
            <!--<source  type="video/mp4">-->
        </video>


        <h1 id="main_title" class="center" ></h1>
        <!--<div id="main_title">-->

        <!--</div>-->



        <div id="section07" class="scroll_section">
            <a href="#despre"><span></span><span></span><span></span></a>
        </div>

    </div>


    <div class="main_section">
        <div id="despre" class="section container scrollspy">
            <div class="section">
                <div class="row">
                    <div class="col s12 m12 l12">
                        <div class="card_section_title">
                            <h2 class="section_title">GAMA SUPER 1.2.3</h2>
                            <div class="title_border"></div>
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="col s12 m12 l12">
                        <div class="rack_image_container">
                            <img class="materialboxed" data-caption="Gama de rafturi Super 1/2/3"
                                 src="../img/super123/universal_extra.jpg">
                            <div class="despre_overlay"></div>
                        </div>

                        <div id="btn_to_gallery" class="col s12 m6 l6">
                            <a class="waves-effect waves-teal btn-flat">
                                <i class="fa fa-photo left" aria-hidden="true"></i>
                                Mai multe poze</a>
                        </div>

                    </div>


                    <div class="col s12 m12 l12">
                        <div class="description_container">

                            <div class="row">
                                <div class="col s4 m4 l4 highlights" ng-repeat="h in highlights.highlights">
                                    <div class="high_inner">
                                        <img src="../img/{{h.icon}}">
                                        <div class="high_divider"></div>
                                        <div class="high_title">
                                            {{h.title}}
                                        </div>
                                        <div class="high_content">
                                            {{h.content}}
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 center-align">
                        <a data-target="modal_despre" class="afla_mai_multe">...află mai multe</a>
                    </div>
                </div>

                <!--Modal-->
                <div id="modal_despre" class="modal modal-fixed-footer">
                    <div class="modal-content">
                        <h4>Despre</h4>
                        <p></p>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Ieși</a>
                    </div>
                </div>

                <!-- End of model-->

                <div class="row despre_icons">
                    <div class="col s12 m4 l4"ui-sref="app.comercial">
                        <div class="despre_i">
                            <div class="despre_i_img valign-wrapper">
                                <img src="../img/despre/warehouse.svg">
                            </div>
                            <p>Comercial</p>

                        </div>
                    </div>

                    <div class="col s12 m4 l4" ui-sref="app.retail">
                        <div class="despre_i">
                            <div class="despre_i_img valign-wrapper">
                                <img src="../img/despre/shop.svg">
                            </div>
                            <p>Retail</p>
                        </div>
                    </div>

                    <div class="col s12 m4 l4" ui-sref="app.rezidential">
                        <div class="despre_i">
                            <div class="despre_i_img valign-wrapper">
                                <img src="../img/despre/house.svg">
                            </div>
                            <p>Rezidențial</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div id="parallax_section" class="scrollspy valign-wrapper">

            <!--<div class="">-->
                <!--<img src="../img/super123/super-123-big.jpg" alt="Unsplashed background img 2">-->
            <!--</div>-->
            <div class="self_overlay self_valign">

                <div class="row center ">
                    <h5 class="header col s12 light">Modular. Zincat. Ușor de montat.</h5>
                </div>
            </div>
        </div>

        <div id="products" class="section container scrollspy">
            <div class="section" id="card_section">


                <!--Products card model-->
                <div class="row">
                    <div class="col s12 m12 l12">
                        <div class="card_section_title">
                            <h2>MODELE</h2>
                            <div class="title_border"></div>
                        </div>
                    </div>
                </div>

                <div class="row" id="cards">

                    <div ng-repeat="p in products.super123" class="col s12 m6 l4">
                        <a data-target="modal{{products.super123.indexOf(p)}}">
                            <div class="self_card">

                                <div class="card_header">
                                    <div class="card_header_content">
                                        <!--<img src="../img/stock.svg">-->
                                        MODEL {{p.modelName}}
                                    </div>

                                </div>

                                <div class="card_content">
                                    <p class="flow-text">
                                        {{p.description}}
                                    </p>
                                </div>
                                <div class="row card_icons_container">
                                    <div class="col s4 m4 l4 card_icon_col">
                                        <div class="card_icon valign-wrapper">
                                            <img src="../img/height.svg">
                                        </div>
                                        <div class="icon_description">
                                            <P>Min: {{p.dimensions.height[0]}}m</P>
                                            <div class="divider"></div>
                                            <P>Max: {{p.dimensions.height[1]}}m</P>

                                        </div>
                                    </div>

                                    <div class="col s4 m4 l4 card_icon">
                                        <div class="card_icon valign-wrapper">
                                            <img src="../img/width.svg">
                                        </div>
                                        <div class="icon_description">
                                            <P>Min: {{p.dimensions.length[0]}}m</P>
                                            <div class="divider"></div>
                                            <P>Max: {{p.dimensions.length[1]}}m</P>
                                        </div>
                                    </div>

                                    <div class="col s4 m4 l4 card_icon">
                                        <div class="card_icon valign-wrapper">
                                            <img src="../img/weight.svg">
                                        </div>
                                        <div class="icon_description">
                                            <P>Min: {{p.dimensions.weight[0]}}kg</P>
                                            <div class="divider"></div>
                                            <P>Max: {{p.dimensions.weight[1]}}kg</P>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </a>
                    </div>

                </div>

                <!--Modal-->
                <div ng-repeat="p in products.super123" id="modal{{products.super123.indexOf(p)}}"
                     class="modal modal-fixed-footer">
                    <div class="modal-content">
                        <h4>Model {{p.modelName}}</h4>
                        <p>{{p.motto}}</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Ieși</a>
                    </div>
                </div>

                <!-- End of producs card model-->
            </div>
        </div>

        <div id="photo-gallery" class="scrollspy valign-wrapper">
            <div class="slider">
                <ul class="slides">
                    <li>
                        <img src="../img/super123/b_1.jpg"> <!-- random image -->

                    </li>
                    <li>
                        <img src="../img/super123/b_2.png"> <!-- random image -->

                    </li>
                    <li>
                        <img src="../img/super123/b_3.jpg"> <!-- random image -->

                    </li>
                    <li>
                        <img src="../img/super123/b_4.jpg"> <!-- random image -->

                    </li>
                </ul>

                <div id="gallery_arrows" class="valign-wrapper hide-on-small-only">
                    <div class="arrows">
                        <img id="left_arrow" class="left" src="../img/left-arrow.svg">

                        <img id="right_arrow" class="right" src="../img/right-arrow.svg">
                    </div>
                </div>

            </div>
        </div>

        <div id="contact_section" class="scrollspy container">
            <div class="section">

                <div class="row">
                    <div class="col s12 center">
                        <h4>Contactează-ne</h4>
                        <div class="title_border"></div>
                    </div>
                </div>


                <div class="contact_container">
                    <div class="row">
                        <a href="mailto:mgmstoragesolutions@gmail.com">
                            <div class="col s12 m6 l6 ">
                                <div class="my_email">
                                    <div class="contact_img valign-wrapper"><i class="fa fa-envelope prefix "></i></div>
                                    <p>mgmstoragesolutions@gmail.com</p>
                                </div>
                            </div>
                        </a>

                        <a href="tel:0756802105">
                            <div class="col s12 m6 l6 ">
                                <div class="my_phone">
                                    <div class="contact_img valign-wrapper"><i class="fa fa-phone prefix"></i></div>
                                    <p>0758.222.111</p>
                                </div>
                            </div>
                        </a>
                    </div>


                    <form class="row" name="contactForm" ng-submit="sendMessage()"  novalidate>

                        <div class="contact_div_icon valign-wrapper">
                            <i class="fa fa-comments" aria-hidden="true"></i>
                        </div>

                        <div class="input-field col s12 m12 l12 animated" ng-hide="!formError.isError" ng-class="{'fadeOut':!formError.isError}">
                            <i class="fa fa-user-o prefix" aria-hidden="true"></i>
                            <input name="name" id="first_name" type="text" class="validate" ng-model="message.name" ng-class="{'invalid': serverFormFeedback.name === false, 'valid': serverFormFeedback.name === true}">
                            <label for="first_name" >Nume</label>
                            <div  class="form_error" ng-show="!formError.name">Am dori să știm cum vă numiți!</div>
                        </div>


                        <div class="input-field col s12 m6 l6" ng-hide="!formError.isError">
                            <i class="fa fa-envelope-o prefix" aria-hidden="true"></i>
                            <input id="email" type="text" class="validate" ng-model="message.email" ng-class="{'invalid': serverFormFeedback.email === false, 'valid': serverFormFeedback.email === true}">
                            <label for="email" >Email</label>
                            <div class="form_error" ng-show="!formError.email">Vă rugăm să introduceți o adresă de email validă!</div>
                        </div>

                        <div class="input-field col s12 m6 l6" ng-hide="!formError.isError">
                            <i class="fa fa-phone prefix" aria-hidden="true"></i>
                            <input id="tel" type="text" class="validate" ng-model="message.phone" ng-class="{'invalid': serverFormFeedback.phone === false, 'valid': serverFormFeedback.phone === true}">
                            <label for="tel" >Telefon</label>
                            <div class="form_error" ng-show="!formError.phone">Vă rugăm să introduceți un număr de telefon valid!</div>
                        </div>

                        <div class="input-field col s12" ng-hide="!formError.isError">
                            <i class="fa fa-file-text-o prefix" aria-hidden="true"></i>
                            <textarea id="message" class="materialize-textarea" ng-model="message.message" ng-class="{'invalid': serverFormFeedback.message === false, 'valid': serverFormFeedback.message === true}"></textarea>
                            <label for="message">Mesaj</label>
                            <div class="form_error" ng-show="!formError.message">Nu ați introdus niciun mesaj!</div>
                        </div>

                        <div class="submit_button col s12 center-align" ng-hide="!formError.isError">

                            <!--<a class="waves-effect waves-teal btn-flat" type="submit">-->
                            <!--<i class="fa fa-send-o left" aria-hidden="true"></i>-->
                            <!--Trimite</a>-->
                            <button class="waves-effect waves-teal btn-flat" type="submit" ><i class="fa fa-send-o left" aria-hidden="true"></i>Trimite</button>
                        </div>

                        <div class="feedback_message animated zoomIn" ng-show="!formError.isError">Mulțumim pentru mesaj! Vă vom răspunde în cel mai scurt timp!</div>

                        <!--<div>-->
                        <!--<p>Ce se vede:</p>-->
                        <!--<p>Nume: {{message.name}}</p>-->
                        <!--<p>Email: {{message.email}}</p>-->
                        <!--<p>Tel: {{message.tel}}</p>-->
                        <!--<p>Mesaj: {{message.message}}</p>-->
                        <!--</div>-->
                        <!--<div>-->
                        <!--<p>Server response: {{serverResponse}}</p>-->
                        <!--<p>Data type: {{serverResponseType}}</p>-->
                        <!--<p>Form error: {{formError}}</p>-->
                        <!--</div>-->

                    </form>

                </div>

            </div>
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="scripts/typed.js"></script>
<script src="scripts/init.js"></script>