

<main class="animated fadeIn">

    <div id="title_section" class="container">
        <h3>{{mainTitle}}</h3>
        <div class="title_div"></div>
        <h4>{{mainSubtitle}}</h4>
    </div>

    <div id="banner_section">
        <img src="../img/pages/rezidential/residential-main.jpg">
        <div class="img_overlay"></div>
        <div class="banner_content ">
            <h4>{{bannerTitle}}</h4>
            <blockquote>
                {{bannerCitat}}
            </blockquote>
            t
        </div>
    </div>

    <div id="highlights_section">
        <div class="row container">
            <div class="col s12 m12 l12">
                <div class="description_container">

                    <div class="row">
                        <div class="col s6 m4 l4 highlights" ng-repeat="h in highlights.highlights">
                            <div class="high_inner">
                                <img src="../img/{{h.icon}}">
                                <div class="high_divider"></div>
                                <div class="high_title">
                                    {{h.title}}
                                </div>
                                <div class="high_content">
                                    {{h.content}}
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="gallery_section">
        <div class="gallery_title">
            Galerie Foto
        </div>

        <div class="title_div"></div>

        <div class="row container gallery_content">

            <div class="col s4 m4 l2">
                <div class="pic">
                    <img class="materialboxed" src="../img/pages/rezidential/residential-main.jpg">
                </div>
            </div>

            <div class="col s4 m4 l2">
                <div class="pic">
                    <img class="" src="https://photos.app.goo.gl/wXkbWP3ks9BD0iR52">
                </div>
            </div>

            <div class="col s4 m4 l2">
                <div class="pic">
                    <img class="" src="../img/pages/rezidential/residential-main.jpg">
                </div>
            </div>

            <div class="col s4 m4 l2">
                <div class="pic">
                    <img class="" src="../img/pages/rezidential/residential-main.jpg">
                </div>
            </div>

            <div class="col s4 m4 l2">
                <div class="pic">
                    <img class="" src="../img/pages/rezidential/residential-main.jpg">
                </div>
            </div>

            <div class="col s4 m4 l2">
                <div class="pic">
                    <img class="" src="../img/pages/rezidential/residential-main.jpg">
                </div>
            </div>


        </div>
    </div>

    <div class="back_btn"><a ng-click="doTheBack()" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">arrow_back</i></a></div>

</main>

<script>


    $(document).ready(function () {
        $('.materialboxed').materialbox();
    });


</script>

